NODE_ENV=development

# Public gateway
API_GATEWAY_PORT=4000

# Services
AUTH_SERVICE_PORT=4001

# Infrastructure
MONGO_URL=mongodb://mongo:27017/jeevan108
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672