NODE_ENV=development
PORT=4003
SERVICE_NAME=application-service

MONGO_URL=mongodb://mongo:27017/jeevan108_applications
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=jeevan108-uploads