NODE_ENV=development
PORT=4000
SERVICE_NAME=api-gateway

# Downstream Services
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002

# Must match the secret in Auth Service!
JWT_ACCESS_SECRET=jeevan108_super_secret_access_key_de