NODE_ENV=development
PORT=4000
SERVICE_NAME=api-gateway

# Downstream Services
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
APPLICATION_SERVICE_URL=http://application-service:4003
PROFESSIONAL_SERVICE_URL=http://professional-service:4004
MARKETPLACE_SERVICE_URL=http://marketplace-service:4005
BOOKING_SERVICE_URL=http://booking-service:4006
NOTIFICATION_SERVICE_URL=http://notification-service:4007

# Must match the secret in Auth Service!
JWT_ACCESS_SECRET=jeevan108_super_secret_access_key_de